<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title> Message List Form</title>
    <!-- Bootstrap-->

    <div th:fragment="bootstrap">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </div>

</head>
<style type="text/css">

    body
    {
        margin: 50px 0px;
        padding: 0px;
        text-align: center;
        align: center;
    }

    form {
        text-align: center;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/add">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-4" name="title">Message Board </h1>
    <p>Get Set, Ready, Message Go!</p>
<div class="container">
    <div class="row">
        <div class ="col">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1563475289/competition-race-SB-620x330_lxbw2t.jpg">
                <div class="card-body">
                        <form action="#"
                              th:action="@{/process}"
                              th:object="${message}"
                              method="post">
                            <input type="hidden" th:field="*{id}" />

                            ID :<input type="text" th:field="*{id}" />
                            <span th:if="${#fields.hasErrors('id')}"
                                  th:errors="*{id}"></span><br/>

                            Title :<input type="text" th:field="*{title}" />
                            <span th:if="${#fields.hasErrors('title')}"
                                  th:errors="*{title}"></span><br/>

                            Content :<textarea rows="4" th:field="*{content}" />
                            <span th:if="${#fields.hasErrors('content')}"
                                  th:errors="*{content}"></span><br/>

                            Posted BY :<input type="text" th:field="*{postedBy}" />
                            <span th:if="${#fields.hasErrors('postedBy')}"
                                  th:errors="*{postedBy}"></span><br/>

                            Post Date(mmddyy) :<input type="text" th:field="*{postDate}" />
                            <span th:if="${#fields.hasErrors('postDate')}"
                                  th:errors="*{postDate}"></span><br/>

                            <input type="submit" value="submit"/>

                        </form>
                            <a href="/add" class="btn btn-primary blink_me">Add Message</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>